.tabs-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.tabs-panel button {
  border: none;
  background-color: rgba(100, 100, 100, 0.5);
}