body {
  background-image: url(../../assets/images/backgrounds/beach-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.beach {
  /* border: 1px solid black; */
  display: grid;
  place-items: center;
  margin-top: clamp(50vh, 50vh + 12vw, 70vh);
}

.audio-container {
  /* border: 1px solid brown; */
  /* width: min(900px, 95%); */
  display: grid;
  row-gap: clamp(0.25rem, 0.25rem + 0.75vh, 1.5rem);
  column-gap: clamp(1rem, 1rem + 4vw, 6rem);
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 768px) {
  .beach {
    margin-top: 60vh;
  }

  .audio-container {
    grid-template-columns: repeat(3, 1fr);
  }
}