body {
  background-image: url(../../assets/images/backgrounds/beach.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.page {
  display: grid;
  place-items: center;
  margin-top: clamp(40vh, 40vh + 8vh, 60vh);
}

.audio-container {
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  padding-block: 2rem;
  border-radius: 1rem;
  display: grid;
  row-gap: clamp(0.25rem, 0.25rem + 0.75vh, 1.5rem);
  column-gap: clamp(1rem, 1rem + 4vw, 6rem);
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 768px) {
  .page {
    margin-top: 55vh;
  }

  .audio-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    width: auto;
  }
}
