.audio-btn {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(160, 160, 160, 0.75);
  color: rgba(160, 160, 160);
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.audio-btn:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.audio-btn:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
}

.playing {
  background-color: rgba(180, 180, 180, 0.1);
  border: 2px solid white;
  color: white;
}

@media only screen and (min-width: 480px) {
  .audio-btn {
    padding: 0.75rem;
  }
}