input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 8rem;
  height: 6px;
  border-radius: 1rem;
  background: rgb(80, 80, 80);
  background-image: linear-gradient(rgb(220,220,220), rgb(220,220,220));
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: rgb(220,220,220);
  box-shadow: 0 0 2px 0 #555;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  border: none;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background: rgb(220,220,220);
  box-shadow: 0 0 2px 0 #555;
}

input[type="range"]::-moz-range-thumb:active {
  background: rgb(30, 30, 30);
  height: 1rem;
  width: 1rem;
}

input[type="range"]::-webkit-slider-thumb:active {
  height: 1rem;
  width: 1rem;
}

input[type="range"]::-webkit-slider-thumb:hover {
  height: 1rem;
  width: 1rem;
}

input[type="range"]::-moz-range-thumb:hover {
  height: 1rem;
  width: 1rem;
}
