input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 8rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: rgba(0,0,0,0.25);
  height: 0.35rem;
  border-radius: 2rem;
}

input[type="range"]::-moz-range-track {
  background: rgba(0,0,0,0.25);
  height: 0.35rem;
  border-radius: 2rem;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -3px;
  background-color: black;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 2rem;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: black;
  height: 0.75rem;
  width: 0.75rem;
}
