@font-face {
  font-family: fredericka;
  src: url(../../assets/fonts/FrederickatheGreat-Regular.ttf);
  font-display: swap;
}

.navigation {
  /* border: 2px solid white; */
  font-family: fredericka;
  font-size: 3rem;
  color: rgba(150, 150, 150, 0.9);
  margin-top: 3rem;
  width: 800px;
  margin-inline: auto;
}

.navigation ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.navigation ul li {
  /* border: 1px solid seagreen; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.navigation ul li:active {
  color: lightblue;
}

.cafe-nav {
  letter-spacing: 0.4rem;
}

.active,
.inactive:hover {
  color: white;
}