@font-face {
  font-family: fredericka;
  src: url(../../assets/fonts/FrederickatheGreat-Regular.ttf);
  font-display: swap;
}

.navigation {
  font-family: fredericka;
  font-size: 3rem;
  color: rgba(150, 150, 150, 0.9);
  margin-top: 3rem;
  width: 720px;
  margin-inline: auto;
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(40, 40, 40, 0.8));
  border-radius: 2rem;
  padding-block: 0.25rem;
  padding-inline-start: 0.75rem;
}

.navigation ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.navigation ul li {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.navigation ul li:active {
  color: lightblue;
}

.cafe-nav {
  letter-spacing: 0.25rem;
}

.active,
.inactive:hover {
  color: white;
}