body {
  background-image: url(./assets/images/beach-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  border: 1px solid black;
}

.audio-container {
  border: 1px solid brown;
  margin-top: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}